* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: #272727;
	background-color: #eeeeee;
	margin: 0;
}
img {
	height:auto;
	max-width: 100%;
}

.header {
	background-color: #004571;
	color: #FFF;
	height: 80px;
	margin-bottom: 25px;
}

.header-title {
	text-transform: uppercase;

	width: 222px;
	margin: 0 auto;
}

.header-list {
	display: block;
	font-size: 20px;

	width: 169px;
	margin: 0 auto;
	padding: 0;
}

.header-item {
	display: inline-block;
}

.header-item a {
	color: white;
	text-decoration: none;
}
.header-item a:hover {
	text-decoration: underline;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.portfolio-title {
	margin-bottom: 10px;
}
#portfolio-item {
	margin-bottom: 10px;
}

#portfolio-current-image {
	display: block;
    width: 263px;
    padding: 15px;
    margin: 0 auto;
}
.portfolio-description, .portfolio-features, #portfolio-description-text, #portfolio-features-list {
	padding-left: 15px;
}
.portfolio-description, .portfolio-features {
	font-weight: bold;
}
#portfolio-description-text, .portfolio-features-list-item {
	text-align: justify-all;
}

#portfolio-features-list {
	list-style-type: none;
	margin-bottom: 20px;
}
.portfolio-features-list-item::before {
	content: "• ";
}

#portfolio-other-images-container {
	vertical-align: middle;
	text-align: center;
}

.arrow {
	vertical-align: middle;
	display: inline-block;
	padding: 0 5px;
}

#portfolio-images-container {
	display: inline-block;
}

#portfolio-images-container img {
	width: 200px;
	padding: 2px;
}

#pj1:hover, #pj2:hover, #pj3:hover, #pj4:hover,#pj5:hover,#pj6:hover {
	cursor: pointer;
}

form {
	text-align: center;
}

form label, #prenom, #nom, #mail {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	display: block;
}

form label {
	text-transform: uppercase;
	font-weight: bold;
}

form textarea {
	display: block;
	width: 90%;
    margin: 0 auto;
    border: none;
    padding: 7px;
    font-family: arial;
}

#prenom, #nom, #mail {
	border: none;
	height: 35px;
	padding: 7px;
}
#prenom:focus, #nom:focus, #mail:focus, form textarea {
	outline: none;
}

.form-element {
	margin-bottom: 15px;
}

.button-submit {
	border: none;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 20px;
}
.button-submit:focus {
	outline: none;
}


footer {
	background-color: #004571;
	text-align: center;
	padding: 20px;
	color: white;
	margin-top: 20px;
}

.small {
	font-size: 11px;
}


@media only screen and (min-width : 1224px){
.header-title {
	text-transform: uppercase;
	position: absolute;
	left: 0;
	top: 20px;
	padding-left: 10%;
	width: auto;
}

.header-list {
	display: block;
	font-size: 30px;
	position: absolute;
	right: 0;
	top: 20px;
	padding-right: 10%;
	width: auto;
}

#portfolio-current-image {
	float: left;
	padding: 15px;
	display: inline-block;
    width: auto;
    margin: 0 0;
}

.contact-title {
	margin-bottom: 10px;
}

#prenom, #nom, #mail, form textarea {
	width: auto;
	display: inline-block;
	vertical-align: middle;
}

.form-element-text {
	width: 140px;
}

form {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	min-width: 465px;
}

#prenom, #nom, #mail, form textarea {
	width: calc(100% - 140px);
	text-align: left;
}
form textarea {
	min-width: calc(100% - 140px);
	max-width: calc(100% - 140px);
}

form label {
	text-align: right;
	vertical-align: middle;
	width: auto;
}
img {
	max-width: 450px;
}
#portfolio-images-container img {
	max-width: 250px;
}
}

@media only screen and (max-width : 600px){
	.container {
		width: 98%;
	}
	form {
		width: 100%;
	}
	form label, #prenom, #nom, #mail {
		width: 100%;
	}
	form textarea {
		width: 100%;
	}
}