* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: #272727;
	background-color: #eeeeee;
}
img {
	height:auto;
	max-width: 100%;
}

.header {
	background-color: #004571;
	color: #FFF;
	height: 80px;
	margin-bottom: 25px;
}

.header-title {
	text-transform: uppercase;

	width: 230px;
	margin: 0 auto;
}

.header-list {
	display: block;
	font-size: 30px;

	width: 254px;
	margin: 0 auto;
}

.header-item {
	display: inline-block;
}

.header-item a {
	color: white;
	text-decoration: none;
}
.header-item a:hover {
	text-decoration: underline;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.portfolio-title {
	margin-bottom: 10px;
}
.portfolio-item {
	margin-bottom: 10px;
}

.portfolio-current-image {
	display: block;
    width: 263px;
    padding: 15px;
    margin: 0 auto;
}
.portfolio-description, .portfolio-features, .portfolio-description-text, .portfolio-features-list {
	padding-left: 15px;
}
.portfolio-description, .portfolio-features {
	font-weight: bold;
}
.portfolio-description-text, .portfolio-features-list-item {
	text-align: justify-all;
}

.portfolio-features-list {
	list-style-type: none;
	margin-bottom: 20px;
}
.portfolio-features-list-item::before {
	content: "• ";
}

.portfolio-other-images-container {
	vertical-align: middle;
	text-align: center;
}

.arrow {
	vertical-align: middle;
	display: inline-block;
	padding: 0 5px;
}

.portfolio-images-container {
	display: inline-block;
}

form label, #prenom, #nom, #mail {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	display: block;
}

form label {
	text-transform: uppercase;
	font-weight: bold;
}

form textarea {
	display: block;
	width: 90%;
    margin: 0 auto;
    border: none;
    padding: 7px;
    font-family: arial;
}

#prenom, #nom, #mail {
	border: none;
	height: 35px;
	padding: 7px;
}
#prenom:focus, #nom:focus, #mail:focus, form textarea {
	outline: none;
}


footer {
	background-color: #004571;
	text-align: center;
	padding: 20px;
	color: white;
	margin-top: 20px;
}


@media only screen and (min-width : 1224px){
.header-title {
	text-transform: uppercase;
	position: absolute;
	left: 0;
	top: 20px;
	padding-left: 10%;
	width: auto;
}

.header-list {
	display: block;
	font-size: 30px;
	position: absolute;
	right: 0;
	top: 20px;
	padding-right: 10%;
	width: auto;
}

.portfolio-current-image {
	float: left;
	padding: 15px;
	display: inline-block;
    width: auto;
    margin: 0 0;
}

.contact-title {
	margin-bottom: 10px;
}

#prenom, #nom, #mail, form textarea {
	width: auto;
	display: inline-block;
	vertical-align: middle;
}

form {
	width: 52%;
	margin: 0 auto;
	text-align: right;
}

#prenom, #nom, #mail, form textarea {
	width: 70%;
}

form label {
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}


}